name: Django CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
      BREVO_SENDER_EMAIL: ${{ secrets.BREVO_SENDER_EMAIL }}
      BREVO_SENDER_NAME: ${{ secrets.BREVO_SENDER_NAME }}
      EMAIL_HOST_USER: ${{ secrets.EMAIL_HOST_USER }}
      EMAIL_HOST_PASSWORD: ${{ secrets.EMAIL_HOST_PASSWORD }}
      FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install python-decouple

      - name: Write Firebase JSON
        run: |
          echo "$FIREBASE_SERVICE_ACCOUNT" > firebase/serviceAccountKey.json

      - name: Run migrations
        run: |
          python manage.py migrate

      - name: Collect static files
        run: |
          python manage.py collectstatic --noinput

      - name: Run tests
        run: |
          python manage.py test
